/* header */
header { width: 100%; height: 100%; padding: 5rem;; } 

header .go-top{position: fixed; width: 5rem; height: 5rem; bottom: 3rem; right: 5rem; text-align: center; color: var(--primary);}
header .go-top .fa{width: 10rem; height: 10rem; background: #fff; display: inline-block; line-height: 2rem; font-size: 3rem;}

header nav .header_wrap .container { display: flex; justify-content: space-between; align-items: center; } 
header nav .header_wrap .gnb { width: 50%; z-index: 10; } 
header nav .header_wrap .gnb ul { display: flex; } 
header nav .header_wrap .gnb ul li { margin-right: 3rem; } 
header nav .header_wrap .gnb ul li a { font-size: 1.6rem; font-weight: 700; } 
header .gnb>ul>li { text-transform: uppercase; cursor: pointer; position: relative; } 
header .gnb>ul>li>a { text-decoration: none; } 
header nav .gnb>ul>li:before { width: .5rem; height: .5rem; background: var(--primary); position: absolute; bottom: -100%; left: 50%; transform: translateX(-50%); content: ''; border-radius: 50%; display: none; } 
header nav .gnb li:hover a { color: var(--primary); } 
header nav .gnb li:hover::before { display: block; } 

header nav .header_wrap .logo { width: 60%; justify-content: center; align-items: center; position: absolute; left: 20%; top: 1rem; } 
header nav .header_wrap .logo .logo_img { height: 8rem; justify-content: center; align-items: center; text-align: center; } 
header nav .header_wrap .logo .logo_img img { height: 8rem; } 
header nav .header_wrap .logo .logo_title { margin-top: 1rem; text-align: center; line-height: 120%; font-size: 1.2rem; font-weight: 700; } 

header nav .header_wrap .sns_link { width: 50%; } 
header nav .header_wrap .sns_link>ul { display: flex; justify-content: right; } 
header nav .header_wrap .sns_link ul li { margin-right: 2rem; font-size: 2rem; } 

/* main */
main { width: 100%; height: 100%; } 
main section { margin-top: 5rem; margin-bottom: 5rem; } 
main .section{opacity: 0; transition:  all .5s ease;}
main .section.show{opacity: 1;}

main .about_me { height: 120rem;  } 
main .about_me .intro_title { font-size: 5rem; text-align: center; position: relative; line-height: 150%; margin-bottom: 5rem; } 
main .about_me .intro_title .coloring { color: var(--primary); } 
main .about_me .intro_title::before { content: '"'; display: block; position: absolute; top: 0; left: -10%; color: var(--primary); } 
main .about_me .intro_title::after { content: '"'; display: block; position: absolute; top: 0; right: -10%; color: var(--primary); } 

main .about_me #str{font-size: 5rem; text-align: center;line-height: 150%; margin-bottom: 5rem; color: #333; margin:0 36rem; height: 10rem;}
.primary{color: var(--primary);}

main .about_me .profile { position: absolute; top: 50%; left: 50%; transform: translateX(-50%); width: 35%; height: 86rem; border: 4px solid #d9d9d9; justify-content: center; align-items: center; border-radius: 45%; } 
main .about_me .profile_img { width: 92%; height: 94%; background: #d9d9d9; transform: translate(2.5rem, 2.5rem); border-radius: 45%; background : url('../img/profile_img.JPEG') no-repeat center top / cover; } 

main .about_me .intro_info { width: 100%; height: 100%; display: flex; justify-content: space-between; align-content: center; font-size: 1.4rem; margin-top: 15rem; } 
main .about_me .info_col_right, .info_col_left { flex-direction:column; width: 50%; } 
main .about_me .info_col_left .intro_info_text { width: 33%; } 
main .about_me .info_col_left { transform: translateX(-100%);  transition: all .7s ease-in-out; opacity: 0;} 
main .about_me .info_col_right { text-align: right; transform: translateX(100%);   transition: all .7s ease-in-out; opacity: 0;} 
main .about_me .intro_info .biography,.contact,.license { flex-direction: column; } 
main .about_me .intro_info .intro_info_title { margin-bottom: 2rem; margin-top: 10rem; font-size: 1.4rem; opacity: 50%; } 
main .about_me .intro_info .intro_info_text, .adress, .email,.tel { line-height: 200%; font-size: 1.8rem; } 
main .about_me .intro_info .institut_name { color: #999; font-size: 1.6rem; } 
main .about_me .info_col_left.show{transform: translateX(0); opacity: 1;}
main .about_me .info_col_right.show{transform: translateX(0); opacity: 1;}

main h1 { font-size: 4rem; text-align: center; margin-bottom: 10rem; margin-top: 3rem; font-family: 'Amiri', serif; } 
main h2 { font-size: 2.8rem; text-align: center; margin-bottom: 5rem; margin-top: 10rem; font-family: 'Amiri', serif; } 
main .advantage ul { display: flex; justify-content: space-between; align-items: center; } 
main .advantage .adv_box { background: #e9e8e8; width: 20rem; height: 28rem; border-radius: 15rem; } 
main .advantage .adv_text { font-size: 1.8rem; margin-top: 2rem; text-align: center; } 
main .advantage .skill_box { display: flex; flex-direction: column; text-align: center; font-size: 1.4rem; } 
main .advantage .language { display: flex; justify-content: space-evenly; width: 100%; height: auto; } 
main .advantage .lang_text { width: 20rem; height: 10rem; line-height: 10rem; font-size: 1.8rem; } 
main .advantage .lang_bar { width: 80rem; height: 10rem; line-height: 5rem; } 
main .advantage .adv_box img { filter: grayscale(100%); transition: filter 0.3s ease; } 
main .advantage .programming .adv_box img { height: 40%; margin-top: 30%; } 
main .advantage .tools .adv_box img { height: 30%; margin-top: 40%; } 
main .advantage .language .adv_box img { height: 35%; margin-top: 35%; } 
main .advantage .percent { font-size: 3.4rem; margin-top: 3rem; text-align: center; font-family: 'Amiri', serif; } 
main .advantage .progress-bar-percentage--count { font-size: 3.4rem; margin-top: 3rem; text-align: center; font-family: 'Amiri', serif; } 
main .advantage .adv_box:hover img { animation: bounce 1s; filter: grayscale(0%); } 

@keyframes bounce { 0%, 20%, 50%, 80%, 100% { transform: translateY(0); } 
 40% { transform: translateY(-20px); } 
 60% { transform: translateY(-10px); } 
 }
/* .tooltip { position:relative; float:right;; } 
.tooltip > .tooltip-inner { background-color: #eebf3f; padding:5px 15px; color:rgb(23,44,66); font-weight:bold; font-size:13px; } 
.tooltip-arrow { border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #eebf3f; } 
.progress { border-radius:0; overflow:visible; } 
.progress-bar { background:rgb(23,44,60); -webkit-transition: width 1.5s ease-in-out; transition: width 1.5s ease-in-out; } 
 */

main .experience .exp_wrap { display: flex; justify-content: space-around; font-size: 1.6rem; } 
main .experience .exp_wrap >div>ul>li { display: flex; } 
main .experience .exp_wrap ul li .date { padding-right: 3rem; font-family: 'Amiri',serif; font-size: 1.6rem; } 
main .experience .exp_wrap ul li .exp_content { padding-bottom: 5rem; } 
main .experience .exp_wrap ul li .exp_content div { padding-bottom: 2rem; } 
main .experience .exp_wrap ul li .exp_content .tit { font-size: 1.8rem; font-weight: 500; } 
main .experience .exp_wrap ul li .exp_content .txt { font-size: 1.4rem; font-weight: 400; color: #999; } 

main .project_wrap { display: flex; position: relative; width: 100%; height: 100vh; } 
main .project_wrap .item { position: absolute; top: 0; height: 30vw; } 
main .project_wrap .item.left { left: -0%; width: 60%; transition: left 1s ease-in-out; } 
main .project_wrap .item.right { width: 30%; right: 0; margin-top: 6%; } 
.left .mockup img, .left .mockup .mask { position: absolute; top: 0; left: 0; } 
main .project_wrap .mockup.pc { position: relative; width: 75%; height: 100%; margin-left: 100px; } 
main .project_wrap .mockup.pc .mask { z-index: 8;width: 58.5rem;height: 63%;overflow: hidden;left: 4%;top: 4.5%; border-radius: 0 0 1.25rem 1.25rem; } 
main .project_wrap .mockup.mobile{position: relative; width: 18%; height: 100%; top: -58%; left: 80%; z-index: 15;}
main .project_wrap .mockup.mobile .mask{ z-index: 8;width: 13.2rem;height: 49.3%;overflow: hidden;left: 7.7%;top: 2%; border-radius: 1.2rem;}
main .project_wrap .mockup.tablet{position: relative; width: 45%; height: 100%; top: -150%; left: -15%; z-index: 15;}
main .project_wrap .mockup.tablet .mask{  z-index: 8;width: 32.5rem;height: 42%;overflow: hidden;left: 8%; top: 2%; }
.screen, .device { width: 100%; } 
.screen { z-index: 3; } 
.device { z-index: 4; } 
main .project_wrap .item.right{font-size: 1.6rem;}
main .project_wrap .item.right .tit{font-size: 2.2rem; font-weight: 500;}
main .project_wrap .item.right .num{font-size: 2.8rem; font-weight: 700;}
main .project_wrap .item.right .txt{font-size: 1.6rem; font-weight: 400; padding-top: 5rem;}
main .project_wrap .item.right .txt p{padding: 1rem;}

main .photos { height:100rem; width: 100%; } 
.tab_wrap { margin-bottom: 10rem; width: 100%; } 
.tab_btn { display: flex; justify-content: space-evenly; margin-bottom: 10rem; } 
.tab_btn li { background: #ebebeb; border-radius: 3rem; } 
.tab_btn li a { color: #999; text-transform: uppercase; text-decoration: none; font-size: 1.8rem; width: 30rem; height: 5rem; line-height: 5rem; display: block; text-align: center; } 
.tab_btn li a.active { background: #444; color: #fff; border-radius: 3rem; } 
.tab_content { position: relative; min-height: 300px; } 
.tab_content > div { position: absolute; top: 0; left: 0; display: none; background: #fff; background-size: 40px; padding: 1em; width: 100%; } 
.tab_content > div.active { display: block; } 
.photo_wrap { width: 100%; display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center;  } 
.tab_photo { width: 30rem; height: 30rem; margin-top: 3rem; overflow: hidden; border-radius: 5rem; position: relative; transition: all .3s ease; box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); } 
.tab_photo::before { width: 30rem; height: 30rem; border-radius: 5rem; background: rgba(0,0,0,.5); position: absolute; top: 0; left: 0; content: ''; backdrop-filter: blur(8px); opacity: 0; transition: all .2s ease;  cursor: pointer; z-index: 99; } 
.tab_photo:hover:before { opacity: 1; } 
.tab_video { width: 50rem; height: 30rem; margin-top: 3rem; overflow: hidden; border-radius: 5rem; } 
.tab_video:before { width: 50rem; height: 30rem; border-radius: 5rem; background: rgba(0,0,0,.5); position: absolute; top: 0; left: 0; content: ''; backdrop-filter: blur(8px); opacity: 0; transition: all .2s ease;  cursor: pointer; z-index: 99; } 
.tab_video:hover:before { opacity: 1;} 
.tab_photo>img, .tab_photo>video { height: 100%; } 
.tab_photo>.drawing{transform: translateX(-13%);}
.tab_photo>.menu{transform: scale(1.4) translateX(10%) translateY(5%);}
.tab_photo>.jean{transform: translateX(-15%) ;}
.tab_photo>.tag{transform: scale(1.2) translateX(-5%) ;}
.tab_photo>.video{transform: translateX(-16.5%) translateY(6%);}

#modal { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.8); width: 100%; height: 100%; z-index: 2121; display: none; } 
.modal_container { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 1200px; height: 90%; background-color: #ffffff; } 
.modal_container .top { height: 50px; background: var(--primary); color: #fff; } 
.modal_container .top .modal_close_btn { float: right; margin-right: 2rem; line-height: 50px; font-size: 4rem; cursor: pointer; } 
.modal_container .modal_box { position: relative; height: calc(100% - 50px); overflow-y: scroll; overflow-x: hidden; } 

/* footer */

footer { height: 10rem; } 
footer .footer_wrap { display: flex; justify-content: space-around; margin-top: 4.5rem; font-size: 1.6rem; } 
footer .sns_link>ul { display: flex; justify-content: right; } 
footer .sns_link ul li { margin-right: 2rem; font-size: 2rem; } 